
:root{
    --bs-gradient:linear-gradient(#09203F, #537895);
    --bs-gradient2:linear-gradient(#537895, #09203F );
    --text-white: #fff;
    --text-black: #000;
    --trasparent: transparent;
    --shadow: 0 1rem 1rem rgba(0, 0, 0,.20);
    --padding-5: 5rem;
    --padding-10: 10rem;
    --font-normal: 1.5rem;
    --font-medium: 5rem;
    --font-big: 9rem;
    --margin-auto: 0 auto;
    --hover1:#e67e22;
}

a:hover, li:hover{
    color: var(--hover1) !important;
    text-shadow: var(--shadow);
   
}
a, li{
    text-decoration: none;
    list-style-type: none;
  
}

*{
    text-align: center;
}

body{
    min-height: 100vh;
}
.title{
    font-size: 5rem;
    font-weight: bolder;
    font-family: fantasy;
    padding-top: 3rem;
    color: #e67e22;
    text-shadow: 0px 2px 10px rgba( 0, 0, 0,15);
}
.container{
    margin:  auto;
    padding: 1rem;
    display: flex;
    height: 100%;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.form > div{
    position: relative;
}

.form  input{
    border: none;
    background-color: #e5e5e5e5;
    padding: 0.8rem 8rem;
}
.form .submit_task{
    position: absolute;
    right: 0%;
    top: 0;
    cursor: pointer;
    font-size: 1.3rem;
    background-color: #e67e22;
    padding: 0.7rem 1rem; 
    color: #fff;
}
.form .submit_task:hover{
background-color: #fff;
border: 1px solid #e67e22;
color: #e67e22;
}
.form .links{
   position: relative;
}
.form .links li{
    background-color: #d6d3d3e8;
    border-top: 1px solid #e27e276b;
    padding: 0.3rem;
}

.links .delete{
    position: absolute;
    right: 5%;
    font-size: 0.9rem;
    color: #537895;
    cursor: pointer;
}
.links .delete:hover{
    animation: rotaionTrash 0.5s linear;
}
@keyframes rotaionTrash {
    0%{
        transform: rotate(-170deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.popup-alert{
    width: 50%;
    z-index: 5;
    background-color: #fff;
    height: 100%;
    max-height: 20vh;
    border: 2px solid #e67e22;
    border-radius: 4px;
    position: absolute;
   
}

.popup-text{
    color: #000;
    font-size: 1.2rem;
}
.popupButton{
    margin-top: 5rem;
    width: 90%;
    background-color: #e67e22;
    height: 2rem;
    color: #fff;
    font-weight: bolder; 
    font-family: monospace;
    border: none;
    border-radius: 5px;
}
